body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
}
header {
    background-color: #003f6b;
    color: white;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.nav-link {
    color: white;
    margin: 0 10px;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    color: #ff6347; /* Example hover color: Tomato */
}
.card {
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}
footer {
    background-color: #003f6b;
    color: white;
    padding: 20px 0;
    text-align: center;
}
.login-container {
    background: rgba(255, 255, 255, 0.8); /* Semi-transparent background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 400px;
    margin: auto;
}
